.img-wrap {
    position: relative;
}

.img-wrap h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.header {
    background-color: rgb(52, 58, 64);
}

.img-text {
    margin: -550px 60px 250px;

}

#map {
    height: 500px;
    width: 100%;
}

.banner-item__text {
    font-size: 120%;
    line-height: 2;
    color: #fff;
    margin: 0 0 20px;
}

primary {
    background: #eccf14;
    color: #fff;
    border-color: #eccf14;
    border-radius: 100px;
    -webkit-box-shadow: 0 4px 12px rgb(223 23 20 / 20%);
    box-shadow: 0 4px 12px rgb(223 23 20 / 20%);
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
}

.button {
    background-color: #0d6efd;
    color: #fff;
    border: 1px solid #0d6efd;
    border-radius: 100px;
    padding: .7em 1.2em;
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
}

.tariff-title {
    text-align: center;
    font-size: 48px;
    line-height: 1.25;
    color: #484747;
    margin: 40px 0;
}

.button-tariff {
    background-color: #0d6efd !important;
    color: white;
    border: 1px solid #0d6efd !important;
    border-radius: 100px;
    padding: .7em 1.2em;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
    margin: 0 0 0 -10px;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: calc(100% - 20px);
    margin: 0 0 20px;
    background: #fff;
    -webkit-box-shadow: 0 8px 24px rgba(137, 150, 155, 0.15);
    box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    border-radius: 10px;
    overflow: hidden;
    padding: 39px 35px;
}

.tariff-item__price {
    margin: 0 0 15px 0;
}

.about-page__first {
    text-align: center;
    font-size: 18px;
    line-height: 1.67;
    color: #484747;
    padding: 40px 0 34px;
}

.about-page__content {
    max-width: 800px;
    margin: 0 auto;
}

.b-contact-info {
    margin-bottom: 40px;
}

.advantages-section {
    padding: 85px 0 60px;
}

.container_about {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.advantage-item {
    text-align: center;
    margin: 0 0 59px;
}

.advantage-item__img {
    display: inline-block;
    height: 72px;
    width: 72px;
    line-height: 54px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    margin: 0 0 21px;
}

.h2 {
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #484747;
}

.advantages-section .h2 {
    margin: 0 0 40px;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}


.b-contact-info__item:first-child {
    padding-top: 15px;
}

.b-contact-info__item {
    display: flex;
    flex-flow: wrap;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    padding-top: 30px;
}

.b-contact-info__title {

    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.2px;
    color: #333;

}

.b-contact-info__item-col:nth-child(2) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.b-contact-info__item-col:nth-child(1) {
    width: 40%;
}

.about-page__first img {
    display: inline-block;
    width: 200px;
    max-width: 100%;
    height: auto;
    margin: 0 0 41px;
}

.header-logo img {
    display: inline-block;
    width: 50px;
    max-width: 100%;
    height: auto;
    margin: 0 20px 0 -0px;
}

.card-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: calc(100% - 20px);
    margin: 0 0 20px;
    background: #fff;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 15px;
}

.balance-user {
    font-size: 20px;
}

.button-user {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
    border-radius: 100px;
    padding: .7em 3em;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
    margin: 0 0 10px -10px;
}

.btn-user {
    background-color: #ffffff;
    color: black;
    border: 1px solid rgba(245, 146, 245, 0.24);
    border-radius: 100px;
    padding: .7em 6em;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
    margin: 0 0 10px -10px;
}

.tarrifs-filter__item--bundle {
    background-image: url(../user/sq.svg);
    background-size: 25px;
    background-position-x: 35px;

}

.tarrifs-filter__item {
    width: 250px;
    padding-left: 80px;
    background-size: 25px;
    background-position: 30px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: rgba(0, 0, 0, .09);
    border-radius: 100px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
    margin: 0 0 10px -10px;
}

.tarrifs-filter__item--wallet {
    background-image: url(../user/icon-wallet.svg);
    background-size: 25px;
    /*background-position-x: 35px;*/
}

.tarrifs-filter__item--help {
    background-image: url(../user/lifesaver.svg);
    background-size: 25px;
    /*background-position-x: 35px;*/
}

.tarrifs-filter__item--sails {
    background-image: url(../user/sail.svg);
    background-size: 25px;
    /*background-position-x: 35px;*/
}

.tarrifs-filter__item--sating {
    background-image: url(../user/sating.svg);
    background-size: 25px;
    /*background-position-x: 35px;*/
}

.tarrifs-filter__item--user {
    background-image: url(../user/user.svg);
    background-size: 25px;
    /*background-position-x: 35px;*/
}

.footer-items a {
    text-decoration: none;
}


.footer-item {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item:hover {
    background-color: rgba(137, 150, 155, 0.15);
}

.footer-item img {
    width: 30px;
}

.copy_area .socials {
    flex: 1;
    margin-right: 40px;
}

.admin-filter__item--user {
    background-image: url(../general/user.svg);
    background-size: 25px;
    background-position-x: 35px;
}

.admin-filter__item--statistics {
    background-image: url(../admin/statistics.svg);
    background-size: 25px;
    background-position-x: 35px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.button-sign-in {
    background-color: #0d6efd !important;
    color: white;
    border: 1px solid #0d6efd !important;
    border-radius: 100px;
    padding: .7em 1.2em;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
    margin: 0 0 0 -10px;
}

.position-signIn {
    margin: 100px 0 100px 1100px
}

.login-color {
    background: linear-gradient(rgba(48, 89, 154, 0.75), rgba(84, 0, 156, 0.82));
    height: 720px;
}

.add-button {
    background: linear-gradient(rgba(48, 89, 154, 0.75), rgba(84, 0, 156, 0.82));
    border-radius: 100px;
    color: #f2f2f2;
    width: 45px;
    height: 45px;
    margin: -100px -61px 0 0;
}

.add-tariff-button {
    background: linear-gradient(rgba(48, 89, 154, 0.75), rgba(84, 0, 156, 0.82));
    border-radius: 100px;
    color: #f2f2f2;
    width: 45px;
    height: 45px;
    margin: -60px -61px 0 0;
}

.replenish-button {
    background: linear-gradient(rgba(48, 89, 154, 0.75), rgba(84, 0, 156, 0.82));
    border-radius: 100px;
    color: #f2f2f2;
    width: 45px;
    height: 45px;
}

.errorMassage {
    color: red;
}

.ended {
    color: red;
}

.tariffActive {
    color: #14b60c;
}

.planed {
    color: #d69b10;
}

.discountTariff {
    color: #d69b10;
}

center {

}

.form {
    margin: 20px 0 0 50px;
}

.ReplenishButton {
    margin: 0 0 0 250px;
}

.paymentTable {
    height: 350px;
    overflow-y: scroll;
}

.userTable {
    height: 600px;
    overflow-y: scroll;
}

.account-menu {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 34px);
}

.account-button {
    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;
}

.chengEmail {
    margin: 0 100px 0 0;
}

.chengEmailButton {
    margin: 0 0 0 15px;
}

#registerNewAccount {
    color: #0d6efd;
}

.userStatusLight {
    width: 16px;
    height: 16px;
}