.img-wrap {
    position: relative;
}

.img-wrap h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.header {
    background-color: rgb(52, 58, 64);
}

.img-text {
    margin: 350px 60px;

}

#map {
    height: 500px;
    width: 100%;
}

.banner-item__text {
    font-size: 120%;
    line-height: 2;
    color: #eccf14;
    margin: 0 0 20px;
}

primary {
    background: #eccf14;
    color: #fff;
    border-color: #eccf14;
    border-radius: 100px;
    -webkit-box-shadow: 0 4px 12px rgb(223 23 20 / 20%);
    box-shadow: 0 4px 12px rgb(223 23 20 / 20%);
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
}

.button {
    background-color: #eccf14;
    color: #424242;
    border: 1px solid #eccf14;
    border-radius: 100px;
    padding: .7em 1.2em;
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
}

.tariff-title {
    text-align: center;
    font-size: 48px;
    line-height: 1.25;
    color: #484747;
    margin: 40px 0;
}

.button-tariff {
    background-color: #0d6efd !important;
    color: white;
    border: 1px solid #0d6efd !important;
    border-radius: 100px;
    padding: .7em 1.2em;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
    margin: 0 0 0 -10px;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: calc(100% - 20px);
    margin: 0 0 20px;
    background: #fff;
    -webkit-box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    border-radius: 10px;
    overflow: hidden;
    padding: 39px 35px;
}

.tariff-item__price {
    margin: 0 0 15px 0;
}

.about-page__first {
    text-align: center;
    font-size: 18px;
    line-height: 1.67;
    color: #484747;
    padding: 40px 0 34px;
}

.about-page__content {
    max-width: 800px;
    margin: 0 auto;
}

.b-contact-info {
    margin-bottom: 40px;
}

.advantages-section {
    padding: 85px 0 60px;
}

.container_about {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.advantage-item {
    text-align: center;
    margin: 0 0 59px;
}

.advantage-item__img {
    display: inline-block;
    height: 72px;
    width: 72px;
    line-height: 54px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    box-shadow: 0 8px 24px rgb(137 150 155 / 15%);
    margin: 0 0 21px;
}

.h2 {
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #484747;
}

.advantages-section .h2 {
    margin: 0 0 40px;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}


.b-contact-info__item:first-child {
    padding-top: 15px;
}

.b-contact-info__item {
    display: flex;
    flex-flow: wrap;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    padding-top: 30px;
}

.b-contact-info__title {

    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.2px;
    color: #333;

}

.b-contact-info__item-col:nth-child(2) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.b-contact-info__item-col:nth-child(1) {
    width: 40%;
}

.about-page__first img {
    display: inline-block;
    width: 200px;
    max-width: 100%;
    height: auto;
    margin: 0 0 41px;
}

.header-logo img {
    display: inline-block;
    width: 50px;
    max-width: 100%;
    height: auto;
    margin: 0 20px 0 -0px;
}